{% extends 'base.html' %}

{% block title %}
    {{user_account.user_fname}} {{ user_account.user_lname }}
{% endblock %}

{% block content %}

<div class="text-center mt-5">
    <h1>{{user_account.user_fname}} {{user_account.user_lname}}</h1>
    <p class="text-muted">{{user_account.user_email}}</p>
    <p>{{user_account.user_position}}</p>

    <img src="/users/media/{{user_account.user_img}}" alt="profile image" class="rounded-circle" width="250" height="250">
</div>
<div class="text-center mt-5">
  
    {% if user.is_staff %}
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    {% endif %}

    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
          <button type="button" class="btn-dark close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{user_account.user_fname}} {{user_account.user_lname}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'users:delete' user_account.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

        <a href="{% url 'users:edit' user_account.id %}" class="btn btn-primary">Edit</a>
</div>
{% endblock %}